header.header
  .header__logo
    a(href="/")
      h1.header__logo__main-text Logo
  .header__input
    form.header__input__form(action='/search/post' method='POST')
      input.header__input__form__input(type='text' placeholder='Search forum by post name...' name="search")
      button.header__input__form__button.no-decoration(href='#') Search
  .header__user
    a.header__user__login.btn(href='#') Log in
    a.header__user__signup.btn(href='#') Sign up
    //
      IF USER LOGGED IN DISPLAY THIS
      IF USER LOGGED IN DISPLAY THIS
      <a href="#" class="header__user__logout btn no-decoration">Log out</a>
      <div class="user__profile">
      <img src="./img/user.png" alt="{{ADD  NAME}}" class="user__profile__picture">
      <p class="user__profile__username">Nick</p>
      </div>
      IF USER LOGGED IN DISPLAY THIS
      IF USER LOGGED IN DISPLAY THIS