header.header
  .header__logo
    a(href="/")
      h1.header__logo__main-text Logo
  .header__input
    form.header__input__form(action='/search/post' method='POST')
      input.header__input__form__input(type='text' placeholder='Search forum by post name...' name="search")
      button.header__input__form__button.no-decoration(href='#') Search
  .header__user
    if user
      <a href="/logout" class="header__user__logout btn no-decoration">Log out</a>
      a(href="/user")
        <div class="user__profile">
        <img src="./img/user.png" alt="user picture" class="user__profile__picture">
        <p class="user__profile__username">#{user.username}</p>
        </div>
    else
      a.header__user__login.btn(href='/login') Log in
      a.header__user__signup.btn(href='/signup') Sign up