extends base

block content
  main.newpost
    form.newpost__form(action='/newPost/createNew' method='POST')
      input.newpost__title(type='text' placeholder='Enter Title...' required='' name='title')
      textarea.newpost__text(placeholder='Enter Text...' required='' name='body')
      input.newpost__common(type='text' placeholder='Common phrases...' required='' name='common_phrases')
      button.btn.btn--form-white(required='') Create Post