extends base

block content
  section.layout
    aside.layout__left
    
      <a href="#" class="btn btn--dark layout__left-myposts">My posts</a>
      <a href="/newPost" class="btn btn--dark layout__left-post">New post</a>
    main.layout__main
      <h1> Post not found, please try again with another query
    aside.layout__right
      | RIGHT SIDE