.layout__left {
  &-post {
    display: inline-block;
    @include centerButtonsLeft;
    top: 2rem;
  }

  &-myposts {
    display: inline-block;
    @include centerButtonsLeft;
    top: 7.5rem;
  }
}