@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // defining what 1rem is(to 10px)

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-screen) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

//variables
:root {
  --main-color: #707070;
  --main-color-dark: #000;
  --main-color-white: #fff;
}

.no-decoration {
  text-decoration: none;
  color: var(--main-color);
}
